* {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

nav .nav-link {
  color: white !important;
}

.nav-link:hover {
  color: blue !important;
}

:root {
  --color-isac-light-blue: #0092d5;
  --color-isac-dark-blue: #005aa9;
}
